.firstSection
{
	height: auto;
	width: 100%
}
.nav-link
{
	font-size: 1rem;
}


/*second */
.secondSection
{
	height: auto;
	width: 100%;
}

/*third*/
.thirdSection
{
	height: auto;
	width: 100%;
}

/*fourth*/

.fourthSection
{
	height: auto;
	width: 100%;
	
}